@import "../node_modules/normalize.css/normalize";

* {
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 52px; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 52px;
  width: 100%;
}

.areasearch {
  display: inline;
  .inputsearch {
    width: calc(100% - 40px);
    //margin-right: 40px;
  }
  .buttonsearch {
    background-color: transparent;
    border: 0;
  }
}

.areaadd {
  text-align: center;
  padding: 10px;
}

.areatasklist {
  .tasksymbols {
    display: flex;
  }

  .symbol {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .tasklist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .task {
    //height: 100px;
    background-color: yellow;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
  }

  p {
      margin: 10px;
  }
  .taskactions {
    text-align: center;
  }
}

.linktagseditor {
  text-decoration: none;
  .tag {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
}

.areaedit {
  margin: 10px;
  .inputdetails {
    width: 100%;
  }
}

.areaactions {
  .actionsymbols {
      display: flex;
  }

  .symbol {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

.hidebutton {
  border: none;
  background: none;
}
