@import "../node_modules/normalize.css/normalize";

* {
  box-sizing: border-box;
}

.areasearch {

  .inputsearch {
    width: 100%;
    margin-right: 20px;
    //margin-right: 40px;
  }
  .buttonsearch {
    background-color: transparent;
    border: 0;
  }
}

.areaadd {
  text-align: center;
  padding: 10px;
}

.areatasklist {
  .tasksymbols {
    display: flex;
  }

  .symbol {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .tasklist {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.areatasklist {
  .task {
    height: 100px;
    background-color: yellow;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
  }
  p {
      margin: 10px;
  }
}

.areaedit {
  margin: 10px;
}

.areaactions {
  .actionsymbols {
      display: flex;
  }

  .symbol {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
